/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

/* color palette */

:root {
	--color-cyan: #00fdfb;
	--color-light-100: #ffffff;
	--color-light-200: #9bb2d1;
	--color-dark-100: #2f4159;
	--color-dark-200: #15273f;
	--color-dark-300: #0d1a2d;
	--color-dark-400: #0c1729;
}

/* default reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--color-dark-300);
	overflow: hidden;
}

p {
	font-weight: 300;
	font-size: 18px;
}

a {
	text-decoration: none;
}

/* main container */

.container-fluid {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background: var(--color-light-gray);
	overflow: hidden;
}

/* card container */

.card-container {
	width: 100%;
	max-width: 350px;
	border-radius: 20px;
	background: var(--color-dark-200);
	overflow: hidden;
}

.top-row {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	border-radius: 10px;
	padding: 1.3rem;
}

.bottom-row {
	padding: 0.5rem 1.3rem;
}

/* information */

#title {
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: var(--color-light-100);
}

#title:hover {
	color: var(--color-cyan);
	cursor: pointer;
}

#description {
	margin-top: 1rem;
	font-weight: 300;
	color: var(--color-light-200);
}

/* price and time */

.price-time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price {
	display: flex;
	align-items: center;
	color: var(--color-cyan);
}

#price-text {
	margin-left: 0.6rem;
	font-weight: 500;
	font-size: 16px;
}

.fa-ethereum {
	padding-bottom: 15px;
	font-size: 18px;
}

.time {
	display: flex;
	align-items: center;
	color: var(--color-light-200);
}

#time-text {
	margin-left: 0.6rem;
	font-weight: 300;
	font-size: 16px;
}

.fa-clock {
	padding-bottom: 15px;
	font-size: 14px;
}

/* author */

.author {
	padding: 0.8rem 0;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	border-top: 1px solid var(--color-dark-100);
}

.author img {
	margin-right: 1.2rem;
	width: 11%;
	background: red;
	border: 2px solid var(--color-light-100);
	border-radius: 50px;
}

#author-credits {
	padding-top: 15px;
	font-weight: 300;
	font-size: 16px;
	color: var(--color-light-200);
}

.author-link {
	color: var(--color-light-100);
	cursor: pointer;
}

.author-link:hover {
	color: var(--color-cyan);
}

/* image overlay on hover */

.nft {
	width: 100%;
	grid-column: 1;
	grid-row: 1;
	border-radius: 10px;
	cursor: pointer;
}

.nft-overlay {
	display: none;
	grid-column: 1;
	grid-row: 1;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	border-radius: 10px;
	background: var(--color-cyan);
	opacity: 0.5;
}

.nft:hover ~ .nft-overlay {
	display: block;
}

.nft:hover ~ .img-view {
	display: block;
}

.img-view {
	display: none;
	place-self: center;
	grid-column: 1;
	grid-row: 1;
	background-color: transparent;
	z-index: 1;
}

/* media query */

@media (max-width: 375px) {
	#description {
		font-size: 16px;
	}
}
